@using CustomIdentityWeb.Models.IdentityModels;
@model UserRoleViewModel

@{
    ViewData["Title"] = "Roles";
}

<h1>@Model.User.UserName</h1>

<p>
    <a asp-route-id="@Model.User.Id" asp-action="AssignRole">Add Role</a> | <a asp-action="Index">Back to list</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Role Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Roles) {
        <tr>
            <td>
                @item
            </td>
            <td>
                <a accesskey="DeleteUserRole" asp-route-id="@Model.User.Id" asp-route-role="@item">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
